footer {
	max-width: 66em;
}

/*  Header  ** =================================================== */
.intro {
    margin: 0 auto;
}

.nav-menu {

	.main-nav {

		a {
            padding: 0 .5rem;
        }
    }
}