//!!!! Custom Styles at bottom
/*	Leaflet Draw  ** =================================================== */
.leaflet-draw.leaflet-control { 

	.leaflet-draw-toolbar {
		border-radius: 0;
		box-shadow: none;
		border: none;

		a {
			background-image: url('../img/sprite-sheet.svg');
			background-size: 270px 30px;
		}

		.leaflet-draw-draw-polyline {
			background-position:  0 0;
		}

		.leaflet-draw-edit-edit {
			background-position: -150px 0px;

			&.leaflet-disabled {
				background-position: -210px 0;
			}
		}

		.leaflet-draw-edit-remove {
			background-position: -180px 0px;

			&.leaflet-disabled {
				background-position: -240px 0;
			}
		}
	}

	.leaflet-draw-actions {
		display: none;
		list-style: none;
		left: 30px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0 !important;
		white-space: nowrap;

		li {
			background-color: #b9babc;
			border-left: 2px solid #fff;
			display: inline-block;
			padding: 0 8px;

			a {
				border-bottom: none;
				display: inline-table;
				font-family: $sans;
				font-size: .875em;
				font-weight: 600;
				height: 30px;
				letter-spacing: 0.025em;
				line-height: 30px;
				text-transform: uppercase;

				&:hover {
					border-bottom: none;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
}

/* Drawing Style  ** =================================================== */
.leaflet-mouse-marker {
	cursor: crosshair;
}

.leaflet-draw-tooltip {
	background: $bg;
	border: 1px solid #fff;
	box-shadow: 5px 5px $bg, -5px 0 $bg, 5px -5px $bg, -5px 5px $bg, -5px -5px $bg;
	color: $textColor;
	font-family: $sans;
	font-size: .875em;
	margin-left: 20px;
	margin-top: -21px;
	padding: .25rem .5rem;
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	z-index: 6;
	
	&:before {
		border-right: 12px solid $bg;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		content: '';
		left: -13px;
		margin-top: -12px;
		position: absolute;
		top: 50%;
	}
}

.leaflet-error-draw-tooltip {
	background-color: #F2DEDE;
}

.leaflet-draw-guide-dash {
	font-size: 1%;
	opacity: 0.5;
	position: absolute;
	width: 4px;
	height: 4px;
}

/*	Edit Styles  ** =================================================== */
.leaflet-edit-marker-selected {
	background: rgba(254, 87, 161, 0.1);
	border: 4px dashed rgba(254, 87, 161, 0.6);
	border-radius: 4px;
}

.leaflet-edit-move {
	cursor: move;
}

.leaflet-edit-resize {
	cursor: pointer;
}